.container .card{
  margin-top: 15px;
  border: 1px  solid blue;
  width: 190px;
  padding: 5px;
  position: absolute;
  top: 0.2%;
  left: 85%;
  font-size: 18px;
}
.container .card a{
  color: blue;
  margin-top:10px ;
}

