<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand">
     <b><i class="navbar-brand">Subscription</i></b>
  </a>
  <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
          <li class="nav-item1">
            <i id="search"class="fas fa-search"></i>
          </li>
          <li class="nav-item">
            <i id="sino" class="fas fa-bell"></i>
          </li>
          <li class="nav-item">
            <i id="username"class="navbar-brand">Usuário</i>
          </li>
          <li class="nav-item">
            <a routerLink="/login" ><i id="userlogo" class="fas fa-user-circle"></i></a>
          </li>
      </ul>
  </div>
</nav>
<app-sidebar></app-sidebar>
