<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Criar conta</h1><hr>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
         <div class="mb-3">
           <label class="form-label">Name:</label>
           <input formControlName="name" placeholder="Digite seu Nome" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label class="form-label">Email address:</label>
            <input formControlName="email" placeholder="Digite seu email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
           </div>
         <div class="mb-3">
           <label class="form-label">Password:</label>
           <input formControlName="password" placeholder="Digite sua senha" type="password" class="form-control" id="exampleInputPassword1">
         </div>
         <button type="submit" class="btn btn-primary">Criar</button>
       </form><hr>
       <a routerLink="/login">Já possuo uma conta! Click Aqui!</a>
      </div>
    </div>
  </div>
</div>

<section class="container-fluig">
  <div class="container-tr">
    <div class="card" id="card-top">
      <img class="photo" src="{{img1}}" alt="">
      <div class="caption">
          <a id="card-link" href="https://api.whatsapp.com/send?phone=5512988220131&app=facebook&entry_point=page_cta&fbclid=IwAR1bf_0mobqQlt3fNUhkI3P9YqLIznEVeo5bGgAsMh6oj-3HYd3krXwdfro" target="_blank" rel="noopener">Saiba Mais</a>
      </div>
    </div>
  </div>
  </section>


