*{
  text-decoration: none;
  box-sizing: border-box;
  background-color: #eff0fa;
}
.navbar{
margin-left: 298px;
width: auto;
height: 90px;
}
.navbar-nav{
  display: flex;
  color: gray ;
}
.nav-item
{
  margin: auto;
  padding: 5px;
}
.nav-item1
{
  margin: auto;
  margin-left: 905px;
}
#userlogo
{
  font-size: 38px ;
  margin-left: -20px;
  color: gray ;
}
.nav-item #username
{
padding-left:60px;
}
.navbar-brand i
{
font-size: 24px;
margin-left: 30px;
}
#sino{
  padding-left: 15px;
}

.container-tr {
  display: grid;
  padding: 0 10px;
}
#card-top{
  margin-left: 300px;
}
.card {
  background: white;
  padding: 15px 15px 10px;
  margin-top: 20px;
  width: 350px;
  margin-left: 190px;
}
.photo {
  width: auto;
  height: auto;
  object-fit: cover;
}
.caption {
  margin-top: 10px;
  text-align: center;
}
.card-text{
  color: gray;
    font-size: 22px;
}
#card-link{
  color: gray;
}
