*{
  text-decoration: none;
}
.container .card{
  text-decoration: none;
  margin-top: 15px;
  border: 1px  solid blue;
  width: 550px;
  padding: 45px;
  position: absolute;
  top: 15%;
  left: 32%;
}
.container .card a{
  color: blue;
  margin-top:10px ;
}

.card {
  background: white;
  padding: 15px 15px 10px;
  margin-top: 10%;
  width: 490px;
  margin-left: 190px;
}
.photo {
  width: auto;
  height: auto;
  object-fit: cover;
}
