*{
  text-decoration: none;
  box-sizing: border-box;
  background-color: #eff0fa;
}
.navbar{
margin-left: 298px;
width: auto;
height: 90px;
}
.navbar-nav{
  display: flex;
  color: gray ;
}
.nav-item
{
  margin: auto;
  padding: 5px;
}
.nav-item1
{
  margin: auto;
  margin-left: 925px;
}
#userlogo
{
  font-size: 38px ;
  margin-left: -20px;
  color: gray ;
}
.nav-item #username
{
padding-left:60px;
}
.navbar-brand i
{
font-size: 24px;
margin-left: 30px;
}
#sino{
  padding-left: 15px;
}

.container-tr {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  justify-content: center;
  padding: 0 10px;

}
#card-top{
  margin-left: 320px;
}
#card-secund{
  margin-left: 265px;
}
.card {
  background: white;
  padding: 15px 15px 10px;
  margin-top: 20px;
  width: 380px;
  margin-left: 210px;
}
.photo {
  width: auto;
  height: 350px;
  object-fit: cover;
}
.caption {
  margin-top: 10px;
  text-align: center;
}
.card-text{
  color: gray;
    font-size: 22px;
}
#card-link{
  color: gray;
}
